<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="PL">

<head>
    <meta charset="UTF-8">
    <title>Movie application</title>
        <!--<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="css/movies.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>

    <!--<link rel="stylesheet"  href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" id="bootstrap-css">-->

    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" id="pane"/>

    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

    <script type="text/javascript" src="./controller.js"></script>
    <script type="text/javascript" src="./stomp.js"></script>
    <script>

        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

    </script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'/main'}">filmEK</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/profile}">Profil</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/registration}">Utwórz konto</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/login}">Zaloguj się</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/list_users}">Lista użytkowników</a>
            </li>
            <!--<li class="nav-item dropdown">-->
            <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--Dropdown-->
            <!--</a>-->
            <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link disabled" href="#">Disabled</a>-->
            <!--</li>th:field="*{title}"-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Popularne filmy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Najwyżej oceniane</a>
                </li>
            </ul>
            <!--&gt;input class="form-control mr-sm-2" type="text"-->
            <form action="#" th:action="@{/}" th:object="${search}" placeholder="Search" aria-label="Search">
                <input name="search" id="search" type="text" class="search-query form-control"/>
                <span class="input-group-btn">
                    <button class="btn btn-light" type="submit">Szukaj filmu</button>
                </span>
            </form>

        </form>
    </div>
</nav>

<div class="container-fluid">
    <form th:action="@{/filter_movies}" method="post">
        <div class="row filter-row">
            <select class="form-control form-control-sm col-2" id="genre" name="genre">
                <option selected value="">Wybierz gatunek</option>
                <option value="przygodowy">Przygodowy</option>
                <option value="fantasy">Fantasy</option>
                <option value="animacja">Animacja</option>
                <option value="dramat">Dramat</option>
                <option value="horror">Horror</option>
                <option value="akcja">Akcja</option>
                <option value="komedia">Komedia</option>
                <option value="historyczny">Historyczny</option>
                <option value="western">Western</option>
                <option value="thriller">Thriller</option>
                <option value="kryminał">Kryminał</option>
                <option value="dokumentalny">Dokumentalny</option>
                <option value="sci-fi">Sci-Fi</option>
                <option value="tajemnica">Tajemnica</option>
                <option value="muzyczny">Muzyczny</option>
                <option value="romans">Romans</option>
                <option value="familijny">Familijny</option>
                <option value="wojenny">Wojenny</option>
            </select>
            Ocena: Od
            <input class="form-control col-1" id="voteMin" name="voteMin"/>
            do
            <input class="form-control col-1" id="voteMax" name="voteMax"/>
            Popularność: Od
            <input class="form-control col-1" id="popularityMin" name="popularityMin"/>
            do
            <input class="form-control col-1" id="popularityMax" name="popularityMax"/>
            Data produkcji: od
            <input type="number" min="1800" max="2099" step="1" placeholder="YYYY" id="yearMin" name="yearMin"/>
            do
            <input type="number" min="1800" max="2099" step="1" placeholder="YYYY" id="yearMax" name="yearMax"/>
            <button class="btn btn-light" type="submit">Szukaj filmów</button>
        </div>
    </form>
</div>

<div class="container-fluid">
    <div class="row">
                <!--        <div th:if="${not #lists.isEmpty(search)}">-->
        <div th:if="${search!=null}">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Tytuł filmu</th>
                        <th colspan="2">Średnia ocena</th>
                    </tr>
                    <tbody>
                    <tr th:each="search : ${search}">
                        <!--<td><a th:href="@{'/movie/' + ${search.movieId}}" th:text="${search.movieId}"></a></td>-->
                        <td><img th:src="${'https://image.tmdb.org/t/p/w500' + search.posterPath}"
                                 height="160" width="110"/></td>
                        <td width="80%"><h3><a th:href="@{'/movie/movie_details/' + ${search.id}}"
                                               th:text="${search.title + ' (' + search.releaseDate + ')'}"
                                               style="color: black"> </a>
                        </h3>
                            <h5><label th:text="${search.originalTitle}"></label></h5>
                        </td>

                        <td width="7%"><br>
                            <h2><label th:text="${search.voteAverage}"></label></h2></td>
                        <td><br>



                            <h3><img
                                    src="https://cdn2.iconfinder.com/data/icons/crystalproject/crystal_project_256x256/apps/keditbookmarks.png"
                                    width="30" height="30"></h3></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!--<div th:unless="${#lists.isEmpty(search)}">-->
        <div class="card-group col-lg-2 col-md-3 col-sm-4" th:each="movie, iStat: ${listMovies.content}">
            <div class="card">
                <div class="box-poster">
                    <img th:src="${'https://image.tmdb.org/t/p/w500' + movie.posterPath}"
                         class="card-img-top img-poster">

                    <img src="https://cdn2.iconfinder.com/data/icons/crystalproject/crystal_project_256x256/apps/keditbookmarks.png"
                         class="star-poster"></h2>
                    <span th:text="${movie.voteAverage}" class="vote-poster"></span>
                </div>

                <div class="card-body">
                    <h6 th:text="${movie.title}" class="card-title">Title</h6>
                    <a th:href="@{/movie/{movieId} (movieId=${movie.id})}" class="btn btn-light button-poster">O
                        Filmie</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="fixed-bottom footer">
    <div class="container">
    <div class="content">
        <!--<nav class="justify-content-center">-->
            <div th:fragment='paginationbar'>
                <ul class="pagination">
                    <li class="page-item" th:class="${page.firstPage}?'disabled':''">
                        <span th:if='${page.firstPage}' class="page-link">← Pierwsza</span>
                        <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'
                           class="page-link">←
                            Pierwsza</a>
                    </li>
                    <li class="page-item" th:class="${page.hasPreviousPage}? '' : 'disabled'">
                        <span th:if='${not page.hasPreviousPage}' class="page-link">«</span>
                        <a th:if='${page.hasPreviousPage}'
                           th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                           title='Go to previous page' class="page-link">«</a>
                    </li>
                    <li class="page-item" th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                        <span th:if='${item.current}' th:text='${item.number}' class="page-link">1</span>
                        <a th:if='${not item.current}'
                           th:href='@{${page.url}(page=${item.number-1},size=${page.size})}' class="page-link"><span
                                th:text='${item.number}'>1</span></a>
                    </li>
                    <li class="page-item" th:class="${page.hasNextPage}? '' : 'disabled'">
                        <span th:if='${not page.hasNextPage}' class="page-link">»</span>
                        <a th:if='${page.hasNextPage}'
                           th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                           title='Go to next page' class="page-link">»</a>
                    </li>
                    <li class="page-item" th:class="${page.lastPage}? 'disabled' : ''">
                        <span th:if='${page.lastPage}' class="page-link">Ostatnia →</span>
                        <a th:if='${not page.lastPage}'
                           th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}' class="page-link">Ostatnia
                            →</a>
                    </li>
                </ul>
            </div>
        <!--</nav>-->
            <div class="chat-box-footer" sec:authorize="isAuthenticated()">
            <button class="open-button" onclick="openForm()">Chat</button>
            <div class="chat-popup" id="myForm">
                <!--<form class="form-container">-->
                    <div class="chat-container">
                        <div class="panel-body">
                            <ul class="chat">
                                <p hidden><label id="user" th:text="${loggedUser.getUserName()}"/><br></p>
                                <p id="response"></p>
                            </ul>
                        </div>
                        <div class="input-group">
                            <textarea class="text-box-chat" id="messageToSend" type="text" placeholder="Wpisz wiadomość..."></textarea>
                            <button class="btn btn-light" onclick="sendMessage()">Send</button>
                            <button class="btn btn-light cancel" onclick="closeForm()">Close</button>
                        <!--<p id="response"></p>-->
                        </div>
                    </div>
                <!--</form>-->
            </div>

            </div>
        </div>
    </div>
</footer>

</body>
</html>


<!--</div>-->
<!--<div class="position-absolute">-->
<!--<div class="col-md-5">-->
<!--<div class="panel panel-primary">-->
<!--<div class="panel-heading" id="accordion">-->
<!--<span class="glyphicon glyphicon-comment"></span> Chat-->
<!--<div class="btn-group pull-right">-->
<!--<a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion"-->
<!--href="#collapseOne">-->
<!--<span class="glyphicon glyphicon-chevron-down"></span>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="panel-collapse collapse" id="collapseOne">-->
<!--<div class="panel-body">-->
<!--<ul class="chat">-->
<!--<li class="left clearfix"><span class="chat-img pull-left">-->
<!--<img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle"/>-->
<!--</span>-->
<!--<div class="chat-body clearfix">-->
<!--<div class="header">-->
<!--<strong class="primary-font">Jack Sparrow</strong>-->
<!--<small class="pull-right text-muted">-->
<!--<span class="glyphicon glyphicon-time"></span>12 mins ago-->
<!--</small>-->
<!--</div>-->
<!--<p id="response"/>-->
<!--</div>-->
<!--</li>-->
<!--<li class="right clearfix"><span class="chat-img pull-right">-->
<!--<img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle"/>-->
<!--</span>-->
<!--<div class="chat-body clearfix">-->
<!--<div class="header">-->
<!--<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins-->
<!--ago-->
<!--</small>-->
<!--<strong class="pull-right primary-font">Bhaumik Patel</strong>-->
<!--</div>-->
<!--&lt;!&ndash;                                    <p id="response"/>&ndash;&gt;-->
<!--</div>-->
<!--</li>-->
<!--<li class="left clearfix"><span class="chat-img pull-left">-->
<!--<img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle"/>-->
<!--</span>-->
<!--<div class="chat-body clearfix">-->
<!--<div class="header">-->
<!--<strong class="primary-font">Jack Sparrow</strong>-->
<!--<small class="pull-right text-muted">-->
<!--<span class="glyphicon glyphicon-time"></span>14 mins ago-->
<!--</small>-->
<!--</div>-->
<!--&lt;!&ndash;                                    <p id="response"/>&ndash;&gt;-->
<!--</div>-->
<!--</li>-->
<!--<li class="right clearfix"><span class="chat-img pull-right">-->
<!--<img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle"/>-->
<!--</span>-->
<!--<div class="chat-body clearfix">-->
<!--<div class="header">-->
<!--<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins-->
<!--ago-->
<!--</small>-->
<!--<strong class="pull-right primary-font">Bhaumik Patel</strong>-->
<!--</div>-->
<!--&lt;!&ndash;                                    <p id="response"/>&ndash;&gt;-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="panel-footer">-->
<!--<div class="input-group">-->
<!--<input id="messageToSend" type="text" class="form-control input-sm"-->
<!--placeholder="Type your message here..."/>-->

<!--<span class="input-group-btn">-->
<!--<button onclick="sendMessage()">-->
<!--&lt;!&ndash; class="btn btn-warning btn-sm"-->
<!--id="btn-chat"&ndash;&gt;-->

<!--Send</button>-->

<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="overlay">-->