<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Movie application</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/styles_movie.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/styles_movie.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'/'}">filmEK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" th:href="@{'/'}">Strona główna <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/registration}">Utwórz konto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Zaloguj się</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/list_users}">Lista użytkowników</a>
            </li>
            <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Dropdown-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                    <!--<a class="dropdown-item" href="#">Action</a>-->
                    <!--<a class="dropdown-item" href="#">Another action</a>-->
                    <!--<div class="dropdown-divider"></div>-->
                    <!--<a class="dropdown-item" href="#">Something else here</a>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link disabled" href="#">Disabled</a>-->
            <!--</li>th:field="*{title}"-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Popularne filmy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Najwyżej oceniane</a>
                </li>
            </ul>
            <!--&gt;input class="form-control mr-sm-2" type="text"-->
            <form action="#" th:action="@{/}" th:object="${search}"  placeholder="Search" aria-label="Search" >
                <input name="search" id="search" type="text" class="search-query form-control"/>
                <span class="input-group-btn">
                    <button class="btn btn-light" type="submit">Szukaj filmu</button>
                </span>
            </form>

        </form>
    </div>
</nav>
<section class="sec1"></section>
<section class="content">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-3">
                <br>
                    <img th:src="${'https://image.tmdb.org/t/p/w500' + film.posterPath}" width="230" height="300"/>

            </div>
            <div class="col-md-4 box-title">
                <h2>
                        <td th:text="${film.title}"></td>
                        <br>
                </h2>
                <h7>
                    <td th:text="${film.originalTitle}"></td>
                </h7>
                <br><br><br>

                <h4>
                    <span class="label-size"> Data premiery:</span>
                    <td th:text="${film.releaseDate}"></td>

                    <br><br>
                    <span class="label-size">Gatunek:</span>
                    <div class="genres" th:each="genre : ${film.genres}">
                        <td th:text="${genre.name}"></td>
                    </div>


                </h4>
            </div>


            <div class="col-md-4 box-avg_note">
                <h3 class="text-center">Średnia ocena</h3>
                <div class="avg_note">
                    <div class="number-note">
                        <div th:text="${film.voteAverage}"></div>
                        <img class="rate-star" src="https://cdn2.iconfinder.com/data/icons/crystalproject/crystal_project_256x256/apps/keditbookmarks.png"
                            width="30" height="30">
                    </div>
                 </div>

                <div sec:authorize="isAuthenticated()">
                    <form method="post" th:action="@{/movie/edit/{movieId}}">
                        <h3 class="text-center">Twoja ocena
                            <div class="rating">
                                <span class="raiting-button" value="1" id="userRaiting" name="userRaiting">☆</span>
                                <span class="raiting-button" value="2" id="userRaiting" name="userRaiting">☆</span>
                                <span class="raiting-button" value="3" id="userRaiting" name="userRaiting">☆</span>
                                <span class="raiting-button" value="4" id="userRaiting" name="userRaiting">☆</span>
                                <span class="raiting-button" value="5" id="userRaiting" name="userRaiting">☆</span>
                                <span class="raiting-button" value="6" id="userRaiting" name="userRaiting">☆</span>
                                <span class="raiting-button" value="7" id="userRaiting" name="userRaiting">☆</span>
                                <span class="raiting-button" value="8" id="userRaiting" name="userRaiting">☆</span>
                                <span class="raiting-button" value="9" id="userRaiting" name="userRaiting">☆</span>
                                <span class="raiting-button" value="10" id="userRaiting" name="userRaiting">☆</span>
                            </div>
                        </h3>
                        <div class="box-button">
                            <span class="input-group-btn">
                                <button class="btn btn-light" name="toSee">Chcę zobaczyć</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>


            <div class="row">
                <div class="col-md-11 col-md-offset-1 box-overview">
                    <br><br>
                    <h4>Opis filmu: <br><br></h4>
                    <!--<tr th:each="movie : ${movie}">-->

                        <td th:text="${film.overview}"></td>
                    </tr>
                    <!--<h1 th:text="${name}"></h1>-->

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>