<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Movie application</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/movies.css" type="text/css">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{'/main'}">filmEK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item active">-->
                <!--<a class="nav-link" th:href="@{'/'}">Strona główna <span class="sr-only">(current)</span></a>-->
                <!--</li>-->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
                </li>

                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/registration}">Utwórz konto</a>
                </li>

                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}">Zaloguj się</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/list_users}">Lista użytkowników</a>
                </li>
                <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--Dropdown-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                <!--<a class="dropdown-item" href="#">Action</a>-->
                <!--<a class="dropdown-item" href="#">Another action</a>-->
                <!--<div class="dropdown-divider"></div>-->
                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                <!--</li>th:field="*{title}"-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Popularne filmy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Najwyżej oceniane</a>
                    </li>
                </ul>
                <!--&gt;input class="form-control mr-sm-2" type="text"-->
                <form action="#" th:action="@{/}" th:object="${search}" placeholder="Search" aria-label="Search">
                    <input name="search" id="search" type="text" class="search-query form-control"/>
                    <span class="input-group-btn">
                        <button class="btn btn-light" type="submit">Szukaj filmu</button>
                    </span>
                </form>

            </form>
        </div>
    </nav>
    <div class="container">
        <hr>
        <div class="row">

            <div class="col-md-6 ">
                <!--<tr th:each="user : ${user}">-->

                    <label class="text-center w-125"><h3><b>Edytuj profil</b></h3></label>
                    <br>
                    <form class="form-horizontal" role="form" th:object="${user}" th:action="@{'/profile/editUser'}" method="post">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Login:</label>
                            <div class="col-lg-8">
                                <label class="control-label" type="text">
                                    <td th:text="${user.userName}"></td>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" th:value="${user.email}" id="emailChange">
                            </div>
                        </div>
                        <!--<div th:if="${badMail}" th:text="${badMail}" class="errorMessage"/>-->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Płeć:</label>
                            <div class="col-lg-8">
                                <label class="control-label" type="text">
                                    <td th:text="${user.gender}"></td>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Hasło:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="password" value="11111122333" id="password">
                                <!--todo dodać hashowanie hasła i zmianę-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Powtórz hasło:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="password" value="11111122333" id="confirmpass">
                            </div>
                        </div>
                        <!--<div th:if="${wrongPassword}" th:text="${wrongPassword}" class="errorMessage"/>-->
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-primary" value="Zapisz zmiany">
                                <span></span>
                                <input type="reset" class="btn btn-default" value="Anuluj">
                            </div>
                        </div>
                    </form>

                    <footer class="container-fluid">

    </footer>
</body>
</html>